BasedOnStyle: WebKit
AlignAfterOpenBracket: AlwaysBreakWithDanglingBracket
# AlignAfterOpenBracket: AlwaysBreak
AlignTrailingComments: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
IndentWrappedFunctionNames: false
SortIncludes: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
