{{template "base/head" .}}
<div class="page-content">
    <div class="ui container center" style="padding-top: 20vh">
        <h1>Welcome to Roland's Git</h1>
        <a href="{{AppSubUrl}}/user/login" class="ui primary button">Sign In</a>
    </div>
</div>
{{template "base/footer" .}}
